@import "../../variable.scss";

.aboutpage__container {
  .about__heroimg {
    background-image: url("https://images.unsplash.com/photo-1576091160550-2173dba999ef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    width: 100%;
    height: 700px;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($color: #000000, $alpha: 0.3);
      z-index: -1;
    }

    p {
      display: flex;
      align-items: center;
      color: #fff;
      gap: 10px;
      font-size: 20px;

      a {
        color: #fff;
        display: flex;
        align-items: center;
      }

      i {
        cursor: pointer;
      }
    }
  }
  .about {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;

    @media screen and (min-width: 769px) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
    }

    @media screen and (min-width: 1441px) {
      padding: 50px;
      min-height: 50vh;
      width: 85%;
    }

    .heading {
      span {
        display: inline-block;
        width: 70px;
        height: 2px;
        background-color: $--bg-color-btn;
      }

      h1 {
        font-family: $--heading-font-family;
        font-size: $--heading-font-size;
        padding: 5px 0;

        @media screen and (min-width: 1441px) {
          font-size: 40px;
        }
      }
      p {
        font-family: $--paragraph-font-family;
        font-size: 20px;
      }
    }

    .desp {
      padding: 30px 0 0;
      display: flex;
      flex-direction: column;
      gap: 10px;

      p {
        font-family: $--paragraph-font-family;
        text-align: justify;
        font-size: 18px;
        line-height: 140%;
      }
    }
  }
}
