@import "../../variable.scss";

.topnavbar__container {
  grid-area: topnavbar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5vw;
  border-bottom: 1px solid #ccc;
  color: #000;
  background-color: #fff; 
  
  @media screen and (min-width:769px) {
    padding: 0 10vw;
  }

  .logo__container {
    img {
      object-fit: contain;
      border-radius: 50%;
    }
  }

  .company__info {
    display: flex;
    align-items: center;
    gap: 35px;

    p {
      display: none;

      @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 24px;
        font-family: $--paragraph-font-family;
        // color: #4bc108;
        color: #000;


      }
      i {
        color: #3e8415;
        font-size: 22px;
        margin-top: 3px;
      }
    }

    .icons__container {
      display: flex;
      align-items: center;
      gap: 15px;

      p {
        // background-color: #3175b5;
        background-color: #3e8415;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          i {
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }
}
