@import "../../../../variable.scss";

.about__container {
  grid-area: about;
  width: 90%;
  margin: $--section-margin;
  gap: 50px;

  @media screen and (min-width: 1025px) {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    width: 75%;
    margin: $--section-margin;
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
      font-size: 20px;
      font-family: $--heading-font-family;
    }

    h2 {
      font-size: 34px;
      padding: 0 20px;
      border-left: 2px solid;
      font-family: $--heading-font-family;
    }
    p {
      font-size: 18px;
      letter-spacing: 0.2px;
      line-height: 22px;
      font-family: $--paragraph-font-family;
    }
    .donation {
      font-size: 17px;
      color: rgba(0, 0, 0, 0.716);
    }
    .donation__container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @media screen and (min-width:1024px) {
        flex-direction: row;
      }

      > div {
        display: flex;
        flex-direction: column;
        gap: 5px;

        p {
          display: flex;
          align-items: center;
          gap: 5px;

          i {
            color: rgb(0, 128, 0);
          }
        }
      }
    }
    button {
      all: unset;
      width: fit-content;
      border: 1px solid #ccc;
      padding: 10px 20px;
      cursor: pointer;
      background-color: $--btn-bg-color;
    }
  }
  .images {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 426px) {
      display: none;
    }

    > div {
      display: flex;
      gap: 20px;

      @media screen and (min-width:1025px) {
        
        justify-content: flex-end;
      }

      button {
        all: unset;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        width: fit-content;
        margin-left: auto;
        transition: 0.4s ease;
        font-family: $--paragraph-font-family;
        &:hover {
          color: $--btn-bg-color;
        }
      }

      > div {
        img {
          transition: 0.4s ease-in-out;
          &:hover {
            transform: scale(0.9);
            cursor: pointer;
          }
        }

        &:first-child {
          img {
            height: 450px;
            width: 300px;
            object-fit: cover;
            border-radius: 20px;
          }
        }
        &:last-child {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            height: 400px;
            width: 300px;
            object-fit: cover;
            border-radius: 20px;
          }
        }
      }
    }
  }
}
