@import "../../../../variable.scss";

.about__container {
  gap: 50px;
  padding: 60px 0;
  background-color: #f4f5f4;
  min-height: 80vh;
  display: grid;
  place-items: center;
  // width: 100vw;
  
  .wrapper {
    display: grid;
    width: 90vw;
    margin: 0 auto;
    gap: 20px;

    @media screen and (min-width: 1025px) {
      // width: 80%;
      grid-template-columns: 1fr 0.5fr;
      gap: 50px;
    }
    .about {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin: 0 auto;
      h1 {
        font-family: $--heading-font-family;
      }

      h2 {
        color: #4bc108;
        font-size: $--heading-font-size;
        padding: 0 20px;
        border-left: 2px solid;
        font-family: $--heading-font-family;
      }
      p {
        font-size: 18px;
        letter-spacing: 0.2px;
        line-height: 22px;
        font-family: $--paragraph-font-family;

        strong {
          font-weight: bold;
        }
      }
      .donation {
        font-size: 17px;
        color: rgba(0, 0, 0, 0.716);
      }
      .donation__container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @media screen and (min-width: 1024px) {
          flex-direction: row;
        }

        > div {
          display: flex;
          flex-direction: column;
          gap: 5px;

          p {
            display: flex;
            align-items: center;
            gap: 5px;

            i {
              color: rgb(0, 128, 0);
            }
          }
        }
      }
      button {
        all: unset;
        width: fit-content;
        border: 1px solid #ccc;
        padding: 10px 20px;
        cursor: pointer;
        background-color: $--bg-color-btn;
        color: #fff;
        font-size: 20px;
        letter-spacing: 0.2px;
        display: none;
      }
    }
    .images {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media screen and (max-width: 426px) {
        display: none;
        width: 100%;
        // opacity:0;
      }

      > div {
        display: flex;
        gap: 20px;
        width: 100%;

        @media screen and (min-width: 1025px) {
          justify-content: flex-end;
        }

        button {
          all: unset;
          display: flex;
          justify-content: flex-end;
          cursor: pointer;
          width: fit-content;
          margin-left: auto;
          transition: 0.4s ease;
          font-family: $--paragraph-font-family;
          &:hover {
            color: $--btn-bg-color;
          }
        }

        > div {
          img {
            transition: 0.4s ease-in-out;
            &:hover {
              transform: scale(0.9);
              cursor: pointer;
            }
          }

          &:first-child {
            img {
              height: 450px;
              width: 300px;
              object-fit: cover;
              border-radius: 20px;
            }
          }
          &:last-child {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              height: 400px;
              width: 300px;
              object-fit: cover;
              border-radius: 20px;
            }
          }
        }
      }
    }
  }
}
