@import "../../../../variable.scss";

.services__container {
  display: grid;
  min-height: 80vh;
  place-items: center;
  // width: 90%;
  .wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 80px 0;
    .title__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $--section-gap;
      text-align: center;

      h1 {
        font-size: $--heading-font-size;
        font-family: $--heading-font-family;
        color: #4bc108;
      }

      button {
        all: unset;
        padding: 10px 20px;
        background-color: $--btn-bg-color;
        cursor: pointer;
        background-color: #4bc108;
        color: #fff;
        font-size: 22px;
        display: none;
      }
    }
    .services {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: 40px;
      width: 100%;

      @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        margin: 20px 0;
      }

      @media screen and (min-width: 1025px) {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 20px;
      }

      .service {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 2px;
        display: flex;
        flex-direction: column;

        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        height: 450px;

        .img__wrapper {
          overflow: hidden;
          height: -webkit-fill-available;

          &:hover {
            img {
              transform: scale(1.25);
              cursor: pointer;
            }
          }
          img {
            transition: .3s ease-in-out;
            height: 100%;
          }
        }

        &:nth-child(1) {
          .desp {
            // background-color: #0188fe;
            background-color: #f5eec27e;
            background-color: #fefbe9;
            // color: #fff;
          }
        }
        &:nth-child(2) {
          .desp {
            background-color: #fffbf0;
          }
        }
        &:nth-child(3) {
          .desp {
            background-color: #e1eedd;
          }
        }
        &:nth-child(4) {
          .desp {
            background-color: #f2f2f2;
          }
        }
        img {
          object-fit: cover;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        }

        .desp {
          padding: 20px 10px;
          margin-top: auto;

          p {
            font-weight: 500;
            font-size: 20px;
            letter-spacing: 0.2px;
            font-family: $--paragraph-font-family;
          }
          h3 {
            font-size: 24px;
            font-weight: 500;
            font-family: $--heading-font-family;
          }
        }
      }
    }
  }
}
