@import "../../../../variable.scss";

.hero__container {
  grid-area: hero;
  height: 85vh;
  width: 100%;
  display: grid;
  .swiper {
    height: 100%;
    width: 100%;

    .swiper-button-next,
    .swiper-button-prev {
      color: #4bc108;
      font-size: 32px !important;
      padding: 0 20px !important;
    }
  }
  .hero__swipper__container {
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    position: relative;
    z-index: 0;
    @media screen and (min-width: 426px) {
      padding: 80px;
    }

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($color: #000000, $alpha: 0.4);
      content: "";
      z-index: -1;
    }

    h1 {
      font-size: 44px;
      letter-spacing: 0.2px;
      font-family: $--heading-font-family;
      color: #fff;
      width: 100%;
    }
    .title {
      transition: 0.4s ease-in-out;
      // transform: translateY(100);
    }
    p {
      font-size: 20px;
      font-family: $--paragraph-font-family;
      color: rgba(255, 255, 255, 0.794);
      width: 100%;

      @media screen and (min-width: 769px) {
        width: 600px;
      }
    }
    button {
      all: unset;
      width: fit-content;
      border: 1px solid #ccc;
      padding: 10px 20px;
      background-color: #36b6aa;
      cursor: pointer;
      border-radius: 7px;
      color: #ffffffe1;
      transition: 0.4s ease;
      display: none;

      &:hover {
        border: 1px solid #36b6aa;
        background-color: #fff;
        color: #000;
      }
    }
  }
}
