@import "../../variable.scss";

.navbar__container {
  grid-area: navbar;
  padding: 15px 8vw;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  .nav__links {
    @media screen and (max-width: 426px) {
      display: none;
    }
    ul {
      display: flex;
      gap: 20px;

      li {
        a {
          color: #000;
          font-size: 18px;
          font-family: $--paragraph-font-family;
        }
      }
    }
  }
  .hamburgermenu {
    @media screen and (min-width: 426px) {
      display: none;
    }
    p {
      display: flex;

      justify-content: flex-end;
    }
  }
}
