@import "../../variable.scss";

.navbar__container {
  grid-area: navbar;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  color: #000;
  /* From https://css.glass */
  // background: rgba(255, 255, 255, 0.15);
  // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  // backdrop-filter: blur(6.4px);
  // -webkit-backdrop-filter: blur(6.4px);
  // border: 1px solid rgba(255, 255, 255, 0.24);

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;

    @media screen and (min-width: 426px) {
      padding: 0px 5vw;
    }

    @media screen and (min-width: 1025px) {
      padding: 0px 10vw;
    }
  }

  .logo {
    img {
      object-fit: contain;
      cursor: pointer;
    }
  }

  .nav__links {
    @media screen and (max-width: 769px) {
      display: none;
    }
    display: flex;
    ul {
      display: flex;
      gap: 50px;

      @media screen and (min-width: 769px) {
        gap: 30px;
      }

      li {
        a {
          font-size: 20px;
          font-family: $--paragraph-font-family;
          transition: 0.1.5s ease-in-out;
          padding: 5px;
          font-weight: 500;
          &:hover {
            // transition: 4s ease-in-out;
            box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.218);
          }
        }
      }
    }
  }
  .hamburgermenu {
    @media screen and (min-width: 769px) {
      display: none;
    }
    p {
      display: flex;

      justify-content: flex-end;
    }
  }
}
