@import "../../variable.scss";

.navbar__container {
  grid-area: navbar;
  padding: 15px 8vw;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  color: #000;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.24);
  .nav__links {
    @media screen and (max-width: 426px) {
      display: none;
    }
    display: flex;
    justify-content: center;
    ul {
      display: flex;
      gap: 50px;

      @media screen and (min-width:769px) {
        gap: 60px;
      }

      li {
        a {
          font-size: 20px;
          font-family: $--paragraph-font-family;
          transition: .1.5s ease-in-out;
          padding: 5px;
          font-weight: 500;
          &:hover {
           
            // transition: 4s ease-in-out;
          box-shadow:  inset 0px -2px 0px 0px rgba(0, 0, 0, 0.218);

          }
        }
      }
    }
  }
  .hamburgermenu {
    @media screen and (min-width: 426px) {
      display: none;
    }
    p {
      display: flex;

      justify-content: flex-end;
    }
  }
}
