@import "../../variable.scss";

.video__container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: $--section-gap;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    > div {
      width: 100%;

      @media screen and (min-width: 1025px) {
        width: 80%;
      }

      h1 {
        font-size: $--heading-font-size;
        text-align: center;
        padding: 10px 0;
        color: #4bc108;
      }
      // q {
      //   letter-spacing: 0.2px;
      //   text-align: center;
      //   font-size: 18px;
      //   font-family: $--paragraph-font-family;
      //   font-style: italic;
      // }

      p {
        font-size: 24px;
        font-family: $--paragraph-font-family;
        font-style: italic;
      }
    }
    .iframe__container {
      padding: 20px 0;
      height: 500px;
      width: 100%;

      @media screen and (min-width: 1025px) {
        height: 700px;
        width: 1200px;
      }

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}
