@import "../../variable.scss";

.footer__container {
  display: flex;
  flex-direction: column;
  // background-color: $--bg-color;
  // background-color: #326b3c;
  background-color: #008000;
  color: #fff;
  padding: 50px 0;

  @media screen and (min-width: 1025px) {
    padding: 8vh 0;
  }

  .footer {
    width: 90%;
    padding-bottom: 40px;
    margin: 0 auto;

    @media screen and (min-width: 769px) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      width: 80%;
      margin: 0 auto;
      justify-items: center;
    }

    .contact__info {
      p {
        span {
          color: rgb(255, 255, 255);
        }
      }
    }

    .links {
      p {
        a {
          font-size: 18px;
          color: #ffffffb4;
          display: inline-block;

          &::after {
            content: "";
            transform: scale(0);
            border-bottom: 2px solid #ffffff;
            transition: transform 250ms ease-in-out;
            display: block;
          }
          &:hover {
            &::after {
              transform: scale(1);
              transform-origin: 0% 50%;
            }
          }
        }
      }
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;

      h1 {
        font-family: $--heading-font-family;
      }

      p {
        font-family: $--paragraph-font-family;
        font-size: 18px;
        color: #ffffffb4;
      }

      input,
      button {
        all: unset;
      }
      input {
        font-family: $--paragraph-font-family;
        padding: 10px;
      }

      .buttons {
        display: flex;
        gap: 10px;
        border: 1px solid #ccc;
        justify-content: space-between;

        button {
          padding: 5px 15px;
          cursor: pointer;
          background-color: #000000;
          font-family: $--heading-font-family;
          transition: 0.5s ease-in-out;
          font-size: 18px;
          letter-spacing: 0.2px;

          &:hover {
            background-color: #ffffff;
            color: #000000;
          }
        }
      }
    }
  }
  .copyright {
    padding: 20px 0;
    border-top: 1px solid #cccccc77;
    width: 80%;
    margin: 0 auto;

    p {
      gap: 2px;
      letter-spacing: 0.2px;
      font-family: $--paragraph-font-family;

      a {
        color: rgba(213, 213, 213, 0.805);
      }

      @media screen and (min-width: 769px) {
        text-align: center;
      }
    }
  }
}
