main {
  display: grid;
  grid-template-areas: "topnavbar" "navbar" "bodywrapper" "footer";
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}

// @media screen and (max-width: 426px) {
//   main {
//     overflow: hidden;
//   }
// }
