$--btn-bg-color: #36b6aa;
$--paragraph-font-family: "Noto Serif Georgian", serif;

// headings fonts
$--heading-font-family: "Lato", sans-serif;
$--heading-font-size: 35px;
$--heading-padding: 10px;

// ceo headings
$--ceo-heading: "Montserrat", sans-serif;

// sections gap
$--section-gap: 20px;
$--section-margin: 4vh auto;
$--section-padding-inline: 0;
$--section-padding: 40px 0;
// $--section-bg-color:#edf5e194;
// $--section-bg-color: #feffff;
$--section-bg-color: #f2f2f2;

$--bg-color: #1b212e;
$--bg-color-btn: #4bc108;
