$--btn-bg-color: #36b6aa;
$--paragraph-font-family: "Noto Serif Georgian", serif;

// headings fonts
$--heading-font-family:'Lato', sans-serif;;
$--heading-font-size: 35px; 
$--heading-padding: 10px;

// ceo headings
$--ceo-heading: 'Montserrat', sans-serif;

// sections gap 
$--section-gap:20px;
$--section-margin:4vh auto;
$--section-padding-inline:0;
$--section-padding:40px 0;

$--bg-color: #1B212E;
$--bg-color-btn:#4BC108;

